<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'boardsapp/css/mainstyle.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Tasks</title>
</head>
<body>

<header>
    <div class="header-container">
        <h1>E-Tasks</h1>
        <div class="search-container">
            <input type="text" placeholder="Поиск..." class="search-input">
        </div>
        <div class="profile-container">
            <button class="profile-button">
                <a href="{%url 'profile'%}">
                       {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" alt="Аватар" class="profile-icon">
        {% else %}
            <img src="{% static 'usersapp/img/profileicon.png' %}" alt="Аватар" class="profile-icon"> <!-- Замените на путь к дефолтной аватарке -->
        {% endif %}
                </a>
            </button>
        </div>
    </div>
</header>

<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="groups">
            <h3>Доски</h3>
                {%for el in boards%}
                    <div class="group-item">{{el.title}}</div>
                {%endfor%}
                 <a href="{%url 'boardcreate'%}">  <button>Создать доску</button></a>
        </div>

        <div class="filters">
            <h3>Фильтры</h3>
            <div class="filter-item">Активные</div>
            <div class="filter-item">Завершенные</div>
            <div class="filter-item">Просроченные</div>
        </div>
    </div>
  {%block content%} {%endblock%}
</div>
</body>
</html>