{%extends 'boardsapp/base.html'%}
{%block content%}
<div class="boards-container">
    {% for el in tasks %}
     <a href="{%url 'task-detail' el.id%}" style="text-decoration: none;">
    <div class="board-card">
<div style="display: flex; align-items: center; gap: 8px;">
  <!-- Убираем display: flex из иконки -->
  {% if el.status == 'В процессе' %}
    <i class="fas fa-circle" style="color: blue;"></i>
  {% elif el.status == 'Выполнено' %}
    <i class="fas fa-circle" style="color: green;"></i>
  {% else %}
    <i class="fas fa-circle" style="color: red;"></i>
  {% endif %}

  <!-- Убираем display: flex из текста -->
  <p class="board-description" style="margin: 0;">{{ el.status }}</p>
</div>
        <h2 class="board-title">{{ el.title }}</h2>
        <p class="board-description">{{ el.description }}</p>
        {%if el.deadline is not null%}
        <p class="board-title" style="margin: 0 0 0;">Осталось:</p>
        <p class="board-title" style="margin: 0 0 0;">{{ el.deadline|timeuntil }}</p>
        {%endif%}
    </div>
     </a>
    {% empty %}
        <p>Нет задач.</p>
    {% endfor %}
</div>
{%endblock%}