{%extends 'boardsapp/base.html'%}
{%block content%}
<div class="boards-container">
    {% for el in tasks %}
     <a href="{%url 'task-detail' el.id%}" style="text-decoration: none;">
    <div class="board-card">
        {%if el.status == 'В процессе'%}
                <i class="fas fa-circle" style="color: blue;display:flex; text-align: left;"></i>
        {%elif el.status == 'completed'%}
        <i class="fas fa-circle" style="color: green;display:flex; text-align:left;"></i>
        {%else%}
        <i class="fas fa-circle" style="color: red;display:flex; text-align:left;"></i>
        {%endif%}
        <p class="board-description" style="display:flex; text-align:left;">{{ el.status }}</p>
        <h2 class="board-title">{{ el.title }}</h2>
        <p class="board-description">{{ el.description }}</p>
        <p class="board-title">{{ el.deadline }}</p>
    </div>
     </a>
    {% empty %}
        <p>Нет задач.</p>
    {% endfor %}
</div>
{%endblock%}