<!-- templates/edit_profile.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usersapp/css/profileeditstyle.css' %}">
    <meta charset="UTF-8">
    <title>Редактировать профиль</title>
</head>
<body>
    <h2>Редактировать профиль</h2>

    <div class="form-group">
        {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" alt="Аватар" class="profile-icon">
        {% else %}
            <img src="{% static 'usersapp/img/profileicon.png' %}" alt="Аватар" class="profile-icon"> <!-- Замените на путь к дефолтной аватарке -->
        {% endif %}
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {{ user_form.username.label_tag }}
            {{ user_form.username }}
        </div>

        <div class="form-group">
            {{ user_form.email.label_tag }}
            {{ user_form.email }}
        </div>

        <div class="form-group">
            {{ profile_form.avatar.label_tag }}
            {{ profile_form.avatar }}
        </div>

        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>