<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usersapp/css/profilestyle.css' %}">
</head>
<body>
    <div class="profile-container">
        <h2>Мой профиль</h2>
        <img src="{% static 'usersapp/img/profileicon.png' %}" alt="Аватар" class="profile-avatar">
        <p class="profile-email">{{email}}</p>

        <div class="profile-info">
            <div class="info-item">
                <span class="info-label">Логин:</span>
                <span class="info-value">{{username}}</span>
            </div>

        </div>

        <div class="profile-actions">
           <button> <a href="profile_edit/" class="button">Редактировать профиль</a></button>
            <button> <a class="button">Сменить пароль</a></button>
        </div>
    </div>
</body>
</html>