<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usersapp/css/loginstyle.css' %}">
    <title>Подтверждение email</title>
</head>
<body>
    <div class="login-form">
        <h2>Подтверждение email</h2>
        <p>На вашу почту был отправлен код подтверждения. Введите его ниже:</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Подтвердить</button>
        </form>
        <p>Не получили код? <a href="{% url 'resend_code' %}">Отправить повторно</a></p>
    </div>
</body>
</html>