{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Восстановление пароля</title>
     <link rel="stylesheet" href="{% static 'usersapp/css/loginstyle.css' %}">
    <link rel="stylesheet" href="{% static 'usersapp/css/forgotpassword.css' %}">
</head>
<body>
    <div class="forgot-container">
        <h2 class="forgot-title">Восстановление пароля</h2>
        <p class="forgot-text">Введите email для восстановления пароля</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Подтвердить</button>
        </form>
        <div class="forgot-links">
            <a href="{% url 'login' %}">Вернуться к входу</a>
        </div>
    </div>
</body>
</html>