<!-- templates/forgot_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usersapp/css/forgotpassword.css' %}">
</head>
<body>
    <div class="forgot-password-form">
        <h2>Восстановление пароля</h2>
        <p>Введите вашу электронную почту, чтобы получить код для сброса пароля.</p>
        <form method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Электронная почта" required>
            {% if form.errors %}
                <div class="error">
                    {{ form.errors }}
                </div>
            {% endif %}
            <button type="submit">Отправить код</button>
        </form>
        <p>
            Вспомнили пароль? <a href="{% url 'login' %}">Войти</a>
        </p>
    </div>
</body>
</html>