{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'usersapp/css/loginstyle.css' %}">
</head>
<body>
    <div class="login-container">
        <h2 class="login-title">Вход</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group-login">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message-login">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="login-button">Войти</button>
        </form>
        <div class="login-links">
            <a href="{% url 'regform' %}">Нет аккаунта? Зарегистрируйтесь</a>
            <a href="{% url 'forgotpassword' %}">Забыли пароль?</a>
        </div>
    </div>
</body>
</html>